#!/bin/bash
#
# Backing up a server, checking the archive and sending it through FTP
#
# Copyright © 2013-2015 Carl Chenet <carl.chenet@mytux.fr>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>

BACKUPHOME={{ backuphome }}
FTPUSER={{ ftpuser }}
FTPPASS={{ ftppass }}
FTPSERVER={{ ftpaddress }}
SERVER={% if server %}{{ server }}{% else %}`hostname -s`{% endif %}
MYSQLUSER={% if mysqluser %}{{ mysqluser }}{% else %}root{% endif %}
MYSQLPASS={{ mysqlpass }}
PKGLIST={% if pkglist %}{{ pkglist }}{% else %}$BACKUPHOME/installed-packages{% endif %}
DBDUMP={% if dbdump %}{{ dbdump }}{% else %}$BACKUPHOME/mysqldumpall.sql{% endif %}
ARCHIVE=$BACKUPHOME/$SERVER-backup-`date +%d-%m-%Y`.tar.gz
ADMINEMAIL={{ adminemail }}
BACKUPCHECKER=backupchecker

# create BACKUPHOME if not exists
mkdir -p $BACKUPHOME
# get installed Debian packages
dpkg --get-selections| awk -F' ' '{print $1}' > $PKGLIST
RETVAL=$?
if [[ $RETVAL != 0 ]]; then	
	echo "Issue while performing dpkg --get-selections of $SERVER" | mail -s "Issue while performing dpkg get selections of $SERVER" $ADMINEMAIL
fi
# get mysql database
mysqldump -u$MYSQLUSER -p$MYSQLPASS --all-databases > $DBDUMP
RETVAL=$?
if [[ $RETVAL != 0 ]]; then	
	echo "Issue while performing mysqldump of $SERVER" | mail -s "Issue while performing mysqldump of $SERVER" $ADMINEMAIL
fi
# get directories and files
tar --one-file-system --preserve-permissions -z -c -f $ARCHIVE  \
	--exclude=/var/lib/mysql/data \
	--exclude=$BACKUPHOME/$SERVER-backup* \
	--exclude=/home/chaica \
	--exclude=/var/cache/apt/archives /etc /var /home /opt /usr/local/bin  > /dev/null 2>&1
# use Backup Checker to check the archive
$BACKUPCHECKER -O /etc/$BACKUPCHECKER -l /var/log/${BACKUPCHECKER}.log -G $ARCHIVE
#warn if Backup Checker log contains something
if [ -s /var/log/$BACKUPCHECKER.log ];then
       echo "Backup Checker detected an issue with the backup of Redmine server" | mail -s "Backup Checker KO withe the Redmine server" $ADMINEMAIL
       exit 1
fi
# remove one-month-old archive on the FTP
lftp -e "rm -f $SERVER-backup-`date -d "-10 day" +%d-%m-%Y`.tar.bz2;exit" -u $FTPUSER,$FTPPASS $FTPSERVER > /dev/null 2>&1
# send the archive to ftp account
lftp -e "mput $ARCHIVE;exit" -u $FTPUSER,$FTPPASS $FTPSERVER > /dev/null 2>&1
RETVAL=$?
if [[ $RETVAL != 0 ]]; then	
	echo "Issue while uploading the archive from $SERVER to $FTPSERVER" | mail -s "Issue while uploading $ARCHIVE from $SERVER to $FTPSERVER" $ADMINEMAIL
fi
# remove the local backups
rm -f $PKGLIST $DBDUMP $ARCHIVE
exit 0
